<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>
<body class="intro-page transport-lp">

    <!--Navigation & Intro-->
    <header>
      <%- include('partials/navBar') -%>
      <!--/Navbar-->
  
      <!-- Intro Section -->
      <%- include('parts/home-intro') -%>
    </header>
    <!--/Navigation & Intro-->

    <!--Main content-->
    <main>
  
      <!--First container-->
      <div class="container-fluid background-z">
        <%- include('parts/home-section-1') -%>
      </div>
      <!--/First container-->
  
      <!--Second container-->
      <div class="container">
        <%- include('parts/home-services') -%>
      </div>
      <!--/Second container-->
  
      <!--Streak-->
      <%- include('parts/home-streak') -%>
      <!--/Streak-->
  
      <!--Third container-->
      <div class="container">
        <%- include('parts/home-features') -%>
      </div>
      <!--/Third container-->
  
      <!--Fourth container-->
      <div class="container-fluid background-z">
        <%- include('parts/home-section-pricing') -%>
      </div>
      <!--/Fourth container-->
  
      <!--Fifth container-->
      <div class="container">
        <%- include('parts/home-section-4') -%>
      </div>
      <!--/Fifth container-->
  
    </main>
    <!--/Main content-->
  
    <!--Footer-->
    <%- include('partials/footer') -%>
    <!--/Footer-->
  
  </body>
    <%- include('partials/scripts') -%>
</html>